**/EWARM/**/Exe/
**/EWARM/settings/
**/EWARM/**/BrowseInfo/
**/EWARM/**/List/
**/EWARM/**/Obj/
**/MDK-ARM/RTE/
**/MDK-ARM/*.lst
**/MDK-ARM/*.out
**/MDK-ARM/*.scvd
**/MDK-ARM/Project.uvoptx
**/MDK-ARM/*/*
**/MDK-ARM/*vguix.*
**/STM32CubeIDE/*.launch
**/STM32CubeIDE/**/*.out
**/STM32CubeIDE/**/Debug/
**/STM32CubeIDE/**/Release/
**/STM32CubeIDE/**/Doc/
**/STM32CubeIDE/**/Drivers/
**/STM32CubeIDE/**/.settings/
**/STM32CubeIDE/*.cfg
*.ninja_log
*.ninja_deps
*.dep
